.header-box {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
}

.header-text {
    font-size: 100px;
}

.header-faction-flag {
    height: 100px;
}

.row {
    width: 500px;
    display: flex;
}

.speech-structure {
    width: 260px;
    border-style: dotted;
}

.character-name {
    face: "'Gill Sans', Arial";
    font-weight: bold;
}

.mention {
    font-style: italic;
}

.photo-box {
    width: 120px;
    justify-content: center;
    align-items: center;
    border-style: dotted;
}

.photo-left {
    transform: scaleX(1);
    width: 100px;
}

.photo-right {
    transform: scaleX(-1);
    width: 100px;
}